In [1]:
#!pip install mysql-connector

In [2]:
import mysql.connector
import pandas as pd

In [3]:
# mydb = mysql.connector.connect(
#   host="cpanel.insaid.co",
#   user="student",
#   passwd="student",
#   database="Capstone1"  
# )

# print(mydb)

In [4]:
# mycursor = mydb.cursor()

# mycursor.execute("SELECT * FROM gender_age_train")

# myresult = mycursor.fetchall()

# for x in myresult:
#   print(x)

In [5]:
# df=pd.DataFrame.to_sql(name="gender_age_train", con=mydb)

In [6]:
# !pip install pymysql

In [13]:
from sqlalchemy import create_engine
import pymysql



try:

    db_connection_str = 'mysql+pymysql://student:student@cpanel.insaid.co/Capstone1'
    db_connection = create_engine(db_connection_str)

    df_gender_age_train = pd.read_sql('SELECT * FROM gender_age_train', con=db_connection)
    df_phone_brand_device_model = pd.read_sql('SELECT * FROM phone_brand_device_model', con=db_connection)
    df_events_data = pd.read_sql('SELECT * FROM events_data', con=db_connection)
    db_connection.close()

except:
    print("Error hapened")
finally:
#     db_connection.close()
    print("Some Error123")

Error hapened
Some Error123

In [9]:
df_gender_age_train.head(5)

             device_id gender  age   group
0 -8076087639492063270      M   35  M32-38
1 -2897161552818060146      M   35  M32-38
2 -8260683887967679142      M   35  M32-38
3 -4938849341048082022      M   30  M29-31
4   245133531816851882      M   30  M29-31

In [10]:
df_phone_brand_device_model.head(5)

             device_id phone_brand device_model
0  1877775838486905855        vivo          Y13
1 -3766087376657242966          小米         V183
2 -6238937574958215831        OPPO          R7s
3  8973197758510677470          三星        A368t
4 -2015528097870762664          小米      红米Note2

In [12]:
df_events_data.head(5)

NameError: name 'df_events_data' is not defined