In [ ]:
#Open Question
#How to writeback the data in DB

In [ ]:
#File Handling 
#Regular Expressions 
#Error Handling 
#OOPs concept

In [1]:
import os
os.chdir(r'C:\Users\Admin\Desktop\PYTHON MODULES')

In [2]:
os.getcwd()

'C:\\Users\\Admin\\Desktop\\PYTHON MODULES'

In [3]:
file = open('Edureka_25Jan.txt', 'w')
file.write('Edureka, we help students to learn new technologies')
file.write('\nWe are here to help our students and provide real time knowledge')
file.write('\nOur headquaters is in Bengaluru, India')
print('Data written successfully')
file.close()

Data written successfully

In [4]:
file = open('Edureka_25Jan.txt','a')
file.write('\nWe are expanding our education network across the globe')
print('Data Written Successfully')
file.close()

Data Written Successfully

In [18]:
file = open('Edureka_25Jan.txt', 'w')
file.write('Hello')
file.close()

In [6]:
list = ['My name is Rahl Tiwari', '\n I am helping students to learn latest technologies']
file = open('Edureka_25Jan.txt','w')
file.writelines(list)
file.close()

In [7]:
os.rename('Edureka_25Jan.txt', 'Edureka_02Feb.txt')

In [8]:
import datetime

In [9]:
current_date = datetime.datetime.today().strftime ('%d-%b-%Y')
os.rename('Edureka_02Feb.txt','Edureka_'+str(current_date) + '.txt' )

In [10]:
file = open('Edureka_02-Feb-2020.txt','r')
call = file.read()
print(call)
file.close

My name is Rahl Tiwari
 I am helping students to learn latest technologies

In [28]:
file = open('Edureka_02-Feb-2020.txt','r')
call = file.read(15)
print(call)
file.close

My name is Rahl

In [19]:
os.remove('Edureka_25Jan.txt')

In [23]:
file = open('Edureka_25Jan.txt', 'w')
file.write('Hello')
file.close()

In [25]:
if os.path.exists('Edureka_25Jan.txt'):
    os.remove('Edureka_25Jan.txt')
    print('The file is deleted successfully')
else:
    print('The file does not exists')

The file does not exists

In [33]:
file = open('Edureka.txt','w')
file.write(input('Enter your name:'))
file.write(',')
file.write(input('Enter your age:'))
file.write(',')
file.write(input('Enter your marks:'))
print('Data written successfully')
file.close()

Enter your name:Rahul
Enter your age:34
Enter your marks:34
Data written successfully

In [ ]:
#Exception Handling

In [35]:
result = None
x = int(input('Number1: '))
y = int(input('Number2: '))
print(result)
result = x/y
print('Result = ', result)

Number1: 10
Number2: 0
None

ZeroDivisionError: division by zero

In [40]:
try:
    result = None
    x = int(input('Number 1: '))
    y = int(input('Number 2: '))
    print(result)
    result = x/y
except:
    print('Error in the line')
print('Result =', result)

Number 1: 10
Number 2: 0
None
Error in the line
Result = None

In [41]:
try: 
    result = None
    x = int(input('Number 1: '))
    y = int(input('Number 2: '))
    print(result)
    result = x/y
except Exception as e:
    print(type(e))
print('Result = ', result)

Number 1: 10
Number 2: 0
None
<class 'ZeroDivisionError'>
Result =  None

In [48]:
try: 
    result = None
    x = int(input('Number 1: '))
    y = int(input('Number 2: '))
    print(result)
    result = x/y
except Exception as e:
    print(e)
else: 
    print('There is no error and the value of result is:', result)
finally:
    print('Shoot an email')

Number 1: 10
Number 2: 0
None
division by zero
Shoot an email

In [72]:
nameage = '''Janice is 22 and Thron is 33
Gabrial is 44 and Joey is 21'''

In [50]:
import re

In [73]:
ages = re.findall(r'\d{1,5}',nameage)

In [60]:
ages

['22', '33', '44', '21']

In [76]:
names = re.findall(r'[A-Z][a-z]*',nameage)

In [77]:
names

['Janice', 'Thron', 'Gabrial', 'Joey']

In [81]:
agedict = {}
x = 0 
for y in names:
    agedict[y] = ages[x]
    x = x+1
print(agedict)

{'Janice': '22', 'Thron': '33', 'Gabrial': '44', 'Joey': '21'}

In [89]:
a = 'we need to inform him with the latest information so that he will be informed'

In [90]:
if re.search('inform', a):
    print('Inform is available')

Inform is available

In [91]:
allinform = re.findall('inform',a)

In [92]:
allinform

['inform', 'inform', 'inform']

In [93]:
for i in re.finditer('inform',a):
    loc = i.span()
    print(loc)

(11, 17)
(38, 44)
(69, 75)

In [113]:
str = 'Sat mat hat rat rat rat pat rat'

In [95]:
allstr = re.findall('[Srp]at',str)

In [97]:
allstr = re.findall('[^hm]at',str)

In [98]:
allstr

['Sat', 'rat', 'pat']

In [99]:
str

'Sat mat hat rat pat'

In [116]:
reg = re.compile('[r]at')

In [117]:
str = reg.sub('mouse',str)

In [115]:
reg1 = re.compile('[m]at')

In [119]:
str = reg1.sub('Nice',str)

In [120]:
str

'Sat Nice hat mouse mouse mouse pat mouse'

In [121]:
text = 'Python for beginner is a very cool website'

In [123]:
re.sub('cool','good',text)

'Python for beginner is a very good website'

In [133]:
phone = '01-554-2222'

In [134]:
if re.search('\+\d{4}-\d{3}-\d{4}', phone):
    print('It is a valid number with country code')
elif re.search('\d{3}-\d{3}-\d{4}',phone):
    print('It is a valid number without country code')
elif re.search('\(\d{3}\) \d{3}-\d{4}', phone):
    print('It is a valid number with first 3 numbers in bracket')
else:
    print('It is not a valid number')

It is not a valid number

In [135]:
import urllib.request

In [136]:
url = 'http://www.summet.com/dmsi/html/codesamples/addresses.html'

In [138]:
response = urllib.request.urlopen(url)
html = response.read()
htmlstr = html.decode()

In [139]:
htmlstr

'<html>\n<head><title>Sample Addresses!</title></head>\n<body>\n<h1> A page full of sample addresses for your parsing enjoyment!</h1>\n<h2> (All data is random....)</h2>\n<ul>\n<li>Cecilia Chapman<br/>711-2880 Nulla St.<br/>Mankato Mississippi 96522<br/>(257) 563-7401</li>\n<li>Iris Watson<br/>P.O. Box 283 8562 Fusce Rd.<br/>Frederick Nebraska 20620<br/>(372) 587-2335</li>\n<li>Celeste Slater<br/>606-3727 Ullamcorper. Street<br/>Roseville NH 11523<br/>(786) 713-8616</li>\n<li>Theodore Lowe<br/>Ap #867-859 Sit Rd.<br/>Azusa New York 39531<br/>(793) 151-6230</li>\n<li>Calista Wise<br/>7292 Dictum Av.<br/>San Antonio MI 47096<br/>(492) 709-6392</li>\n<li>Kyla Olsen<br/>Ap #651-8679 Sodales Av.<br/>Tamuning PA 10855<br/>(654) 393-5734</li>\n<li>Forrest Ray<br/>191-103 Integer Rd.<br/>Corona New Mexico 08219<br/>(404) 960-3807</li>\n<li>Hiroko Potter<br/>P.O. Box 887 2508 Dolor. Av.<br/>Muskegon KY 12482<br/>(314) 244-6306</li>\n<li>Nyssa Vazquez<br/>511-5762 At Rd.<br/>Chelsea MI 67708<br/>(947) 278-5929</li>\n<li>Lawrence Moreno<br/>935-9940 Tortor. Street<br/>Santa Rosa MN 98804<br/>(684) 579-1879</li>\n<li>Ina Moran<br/>P.O. Box 929 4189 Nunc Road<br/>Lebanon KY 69409<br/>(389) 737-2852</li>\n<li>Aaron Hawkins<br/>5587 Nunc. Avenue<br/>Erie Rhode Island 24975<br/>(660) 663-4518</li>\n<li>Hedy Greene<br/>Ap #696-3279 Viverra. Avenue<br/>Latrobe DE 38100<br/>(608) 265-2215</li>\n<li>Melvin Porter<br/>P.O. Box 132 1599 Curabitur Rd.<br/>Bandera South Dakota 45149<br/>(959) 119-8364</li>\n<li>Keefe Sellers<br/>347-7666 Iaculis St.<br/>Woodruff SC 49854<br/>(468) 353-2641</li>\n<li>Joan Romero<br/>666-4366 Lacinia Avenue<br/>Idaho Falls Ohio 19253<br/>(248) 675-4007</li>\n<li>Davis Patrick<br/>P.O. Box 147 2546 Sociosqu Rd.<br/>Bethlehem Utah 02913<br/>(939) 353-1107</li>\n<li>Leilani Boyer<br/>557-6308 Lacinia Road<br/>San Bernardino ND 09289<br/>(570) 873-7090</li>\n<li>Colby Bernard<br/>Ap #285-7193 Ullamcorper Avenue<br/>Amesbury HI 93373<br/>(302) 259-2375</li>\n<li>Bryar Pitts<br/>5543 Aliquet St.<br/>Fort Dodge GA 20783<br/>(717) 450-4729</li>\n<li>Rahim Henderson<br/>5037 Diam Rd.<br/>Daly City Ohio 90255<br/>(453) 391-4650</li>\n<li>Noelle Adams<br/>6351 Fringilla Avenue<br/>Gardena Colorado 37547<br/>(559) 104-5475</li>\n<li>Lillith Daniel<br/>935-1670 Neque. St.<br/>Centennial Delaware 48432<br/>(387) 142-9434</li>\n<li>Adria Russell<br/>414-7533 Non Rd.<br/>Miami Beach North Dakota 58563<br/>(516) 745-4496</li>\n<li>Hilda Haynes<br/>778-9383 Suspendisse Av.<br/>Weirton IN 93479<br/>(326) 677-3419</li>\n<li>Sheila Mcintosh<br/>P.O. Box 360 4407 Et Rd.<br/>Santa Monica FL 30309<br/>(746) 679-2470</li>\n<li>Rebecca Chambers<br/>P.O. Box 813 5982 Sit Ave<br/>Liberal Vermont 51324<br/>(455) 430-0989</li>\n<li>Christian Emerson<br/>P.O. Box 886 4118 Arcu St.<br/>Rolling Hills Georgia 92358<br/>(490) 936-4694</li>\n<li>Nevada Ware<br/>P.O. Box 597 4156 Tincidunt Ave<br/>Green Bay Indiana 19759<br/>(985) 834-8285</li>\n<li>Margaret Joseph<br/>P.O. Box 508 3919 Gravida St.<br/>Tamuning Washington 55797<br/>(662) 661-1446</li>\n<li>Edward Nieves<br/>928-3313 Vel Av.<br/>Idaho Falls Rhode Island 37232<br/>(802) 668-8240</li>\n<li>Imani Talley<br/>P.O. Box 262 4978 Sit St.<br/>Yigo Massachusetts 50654<br/>(477) 768-9247</li>\n<li>Bertha Riggs<br/>P.O. Box 206 6639 In St.<br/>Easthampton TN 31626<br/>(791) 239-9057</li>\n<li>Wallace Ross<br/>313 Pellentesque Ave<br/>Villa Park Hawaii 43526<br/>(832) 109-0213</li>\n<li>Chester Bennett<br/>3476 Aliquet. Ave<br/>Minot AZ 95302<br/>(837) 196-3274</li>\n<li>Castor Richardson<br/>P.O. Box 902 3472 Ullamcorper Street<br/>Lynchburg DC 29738<br/>(268) 442-2428</li>\n<li>Sonya Jordan<br/>Ap #443-336 Ullamcorper. Street<br/>Visalia VA 54886<br/>(850) 676-5117</li>\n<li>Harrison Mcguire<br/>574-8633 Arcu Street<br/>San Fernando ID 77373<br/>(861) 546-5032</li>\n<li>Malcolm Long<br/>9291 Proin Road<br/>Lake Charles Maine 11292<br/>(176) 805-4108</li>\n<li>Raymond Levy<br/>Ap #643-7006 Risus St.<br/>Beaumont New Mexico 73585<br/>(715) 912-6931</li>\n<li>Hedley Ingram<br/>737-2580 At Street<br/>Independence Texas 87535<br/>(993) 554-0563</li>\n<li>David Mathews<br/>1011 Malesuada Road<br/>Moscow Kentucky 77382<br/>(357) 616-5411</li>\n<li>Xyla Cash<br/>969-1762 Tincidunt Rd.<br/>Boise CT 35282<br/>(121) 347-0086</li>\n<li>Madeline Gregory<br/>977-4841 Ut Ave<br/>Walla Walla Michigan 82776<br/>(304) 506-6314</li>\n<li>Griffith Daniels<br/>6818 Eget St.<br/>Tacoma AL 92508<br/>(425) 288-2332</li>\n<li>Anne Beasley<br/>987-4223 Urna St.<br/>Savannah Illinois 85794<br/>(145) 987-4962</li>\n<li>Chaney Bennett<br/>P.O. Box 721 902 Dolor Rd.<br/>Fremont AK 19408<br/>(187) 582-9707</li>\n<li>Daniel Bernard<br/>P.O. Box 567 1561 Duis Rd.<br/>Pomona TN 08609<br/>(750) 558-3965</li>\n<li>Willow Hunt<br/>Ap #784-1887 Lobortis Ave<br/>Cudahy Ohio 31522<br/>(492) 467-3131</li>\n<li>Judith Floyd<br/>361-7936 Feugiat St.<br/>Williston Nevada 58521<br/>(774) 914-2510</li>\n<li>Seth Farley<br/>6216 Aenean Avenue<br/>Seattle Utah 81202<br/>(888) 106-8550</li>\n<li>Zephania Sanders<br/>3714 Nascetur St.<br/>Hawthorne Louisiana 10626<br/>(539) 567-3573</li>\n<li>Calista Merritt<br/>Ap #938-5470 Posuere Ave<br/>Chickasha LA 58520<br/>(693) 337-2849</li>\n<li>Craig Williams<br/>P.O. Box 372 5634 Montes Rd.<br/>Springdale MO 57692<br/>(545) 604-9386</li>\n<li>Lee Preston<br/>981 Eget Rd.<br/>Clemson GA 04645<br/>(221) 156-5026</li>\n<li>Katelyn Cooper<br/>6059 Sollicitudin Road<br/>Burlingame Colorado 26278<br/>(414) 876-0865</li>\n<li>Lacy Eaton<br/>1379 Nulla. Av.<br/>Asbury Park Montana 69679<br/>(932) 726-8645</li>\n<li>Driscoll Leach<br/>P.O. Box 120 2410 Odio Avenue<br/>Pass Christian Delaware 03869<br/>(726) 710-9826</li>\n<li>Merritt Watson<br/>P.O. Box 686 7014 Amet Street<br/>Corona Oklahoma 55246<br/>(622) 594-1662</li>\n<li>Nehru Holmes<br/>P.O. Box 547 4764 Sed Road<br/>Grand Rapids CT 87323<br/>(948) 600-8503</li>\n<li>Quamar Rivera<br/>427-5827 Ac St.<br/>Schaumburg Arkansas 84872<br/>(605) 900-7508</li>\n<li>Hiram Mullins<br/>754-6427 Nunc Ave<br/>Kennewick AL 41329<br/>(716) 977-5775</li>\n<li>Kim Fletcher<br/>Ap #345-3847 Metus Road<br/>Independence CO 30135<br/>(368) 239-8275</li>\n<li>Rigel Koch<br/>P.O. Box 558 9561 Lacus. Road<br/>Laughlin Hawaii 99602<br/>(725) 342-0650</li>\n<li>Jeanette Sharpe<br/>Ap #364-2006 Ipsum Avenue<br/>Wilmington Ohio 91750<br/>(711) 993-5187</li>\n<li>Dahlia Lee<br/>1293 Tincidunt Street<br/>Atwater Pennsylvania 76865<br/>(882) 399-5084</li>\n<li>Howard Hayden<br/>P.O. Box 847 8019 Facilisis Street<br/>Joliet SC 73490<br/>(287) 755-9948</li>\n<li>Hyatt Kramer<br/>1011 Massa Av.<br/>Kent ID 63725<br/>(659) 551-3389</li>\n<li>Sonya Ray<br/>Ap #315-8441 Eleifend Street<br/>Fairbanks RI 96892<br/>(275) 730-6868</li>\n<li>Cara Whitehead<br/>4005 Praesent St.<br/>Torrance Wyoming 22767<br/>(725) 757-4047</li>\n<li>Blythe Carroll<br/>7709 Justo. Ave<br/>Princeton TX 77987<br/>(314) 882-1496</li>\n<li>Dale Griffin<br/>P.O. Box 854 8580 In Ave<br/>Revere South Dakota 43841<br/>(639) 360-7590</li>\n<li>McKenzie Hernandez<br/>Ap #367-674 Mi Street<br/>Greensboro VT 40684<br/>(168) 222-1592</li>\n<li>Haviva Holcomb<br/>P.O. Box 642 3450 In Road<br/>Isle of Palms New York 03828<br/>(896) 303-1164</li>\n<li>Ezra Duffy<br/>Ap #782-7348 Dis Rd.<br/>Austin KY 50710<br/>(203) 982-6130</li>\n<li>Eleanor Jennings<br/>9631 Semper Ave<br/>Astoria NJ 66309<br/>(906) 217-1470</li>\n<li>Remedios Hester<br/>487-5787 Mollis St.<br/>City of Industry Louisiana 67973<br/>(614) 514-1269</li>\n<li>Jasper Carney<br/>1195 Lobortis Rd.<br/>New Orleans New Hampshire 71983<br/>(763) 409-5446</li>\n<li>Vielka Nielsen<br/>Ap #517-7326 Elementum Rd.<br/>Fort Smith North Dakota 79637<br/>(836) 292-5324</li>\n<li>Wilma Pace<br/>Ap #676-6532 Odio Rd.<br/>Darlington CO 06963<br/>(926) 709-3295</li>\n<li>Palmer Gay<br/>557-2026 Purus St.<br/>Watertown TN 07367<br/>(963) 356-9268</li>\n<li>Lyle Sutton<br/>Ap #250-9843 Elementum St.<br/>South Gate Missouri 68999<br/>(736) 522-8584</li>\n<li>Ina Burt<br/>Ap #130-1685 Ut Street<br/>Tyler KS 73510<br/>(410) 483-0352</li>\n<li>Cleo Best<br/>282-8351 Tincidunt Ave<br/>Sedalia Utah 53700<br/>(252) 204-1434</li>\n<li>Hu Park<br/>1429 Netus Rd.<br/>Reedsport NY 48247<br/>(874) 886-4174</li>\n<li>Liberty Walton<br/>343-6527 Purus. Avenue<br/>Logan NV 12657<br/>(581) 379-7573</li>\n<li>Aaron Trujillo<br/>Ap #146-3132 Cras Rd.<br/>Kingsport NH 56618<br/>(983) 632-8597</li>\n<li>Elmo Lopez<br/>Ap #481-7473 Cum Rd.<br/>Yorba Linda South Carolina 28423<br/>(295) 983-3476</li>\n<li>Emerson Espinoza<br/>Ap #247-5577 Tincidunt St.<br/>Corpus Christi WI 97020<br/>(873) 392-8802</li>\n<li>Daniel Malone<br/>2136 Adipiscing Av.<br/>Lima RI 93490<br/>(360) 669-3923</li>\n<li>Dante Bennett<br/>481-8762 Nulla Street<br/>Dearborn OR 62401<br/>(840) 987-9449</li>\n<li>Sade Higgins<br/>Ap #287-3260 Ut St.<br/>Wilmington OR 05182<br/>(422) 517-6053</li>\n<li>Zorita Anderson<br/>1964 Facilisis Avenue<br/>Bell Gardens Texas 87065<br/>(126) 940-2753</li>\n<li>Jordan Calderon<br/>430-985 Eleifend St.<br/>Duluth Washington 92611<br/>(427) 930-5255</li>\n<li>Ivor Delgado<br/>Ap #310-1678 Ut Av.<br/>Santa Barbara MT 88317<br/>(689) 721-5145</li>\n<li>Pascale Patton<br/>P.O. Box 399 4275 Amet Street<br/>West Allis NC 36734<br/>(676) 334-2174</li>\n<li>Nasim Strong<br/>Ap #630-3889 Nulla. Street<br/>Watervliet Oklahoma 70863<br/>(437) 994-5270</li>\n<li>Keaton Underwood<br/>Ap #636-8082 Arcu Avenue<br/>Thiensville Maryland 19587<br/>(564) 908-6970</li>\n<li>Keegan Blair<br/>Ap #761-2515 Egestas. Rd.<br/>Manitowoc TN 07528<br/>(577) 333-6244</li>\n<li>Tamara Howe<br/>3415 Lobortis. Avenue<br/>Rocky Mount WA 48580<br/>(655) 840-6139</li>\n </ul> </body></html>'

In [141]:
pdata = re.findall('\(\d{3}\) \d{3}-\d{4}', htmlstr)

In [149]:
import pandas as pd
phone_no = pd.DataFrame(pdata)

In [151]:
phone_no.to_excel('Phone_No.xls')

In [152]:
os.getcwd()

'C:\\Users\\Admin\\Desktop\\PYTHON MODULES'

In [145]:
for i in pdata:
    print(i)

(257) 563-7401
(372) 587-2335
(786) 713-8616
(793) 151-6230
(492) 709-6392
(654) 393-5734
(404) 960-3807
(314) 244-6306
(947) 278-5929
(684) 579-1879
(389) 737-2852
(660) 663-4518
(608) 265-2215
(959) 119-8364
(468) 353-2641
(248) 675-4007
(939) 353-1107
(570) 873-7090
(302) 259-2375
(717) 450-4729
(453) 391-4650
(559) 104-5475
(387) 142-9434
(516) 745-4496
(326) 677-3419
(746) 679-2470
(455) 430-0989
(490) 936-4694
(985) 834-8285
(662) 661-1446
(802) 668-8240
(477) 768-9247
(791) 239-9057
(832) 109-0213
(837) 196-3274
(268) 442-2428
(850) 676-5117
(861) 546-5032
(176) 805-4108
(715) 912-6931
(993) 554-0563
(357) 616-5411
(121) 347-0086
(304) 506-6314
(425) 288-2332
(145) 987-4962
(187) 582-9707
(750) 558-3965
(492) 467-3131
(774) 914-2510
(888) 106-8550
(539) 567-3573
(693) 337-2849
(545) 604-9386
(221) 156-5026
(414) 876-0865
(932) 726-8645
(726) 710-9826
(622) 594-1662
(948) 600-8503
(605) 900-7508
(716) 977-5775
(368) 239-8275
(725) 342-0650
(711) 993-5187
(882) 399-5084
(287) 755-9948
(659) 551-3389
(275) 730-6868
(725) 757-4047
(314) 882-1496
(639) 360-7590
(168) 222-1592
(896) 303-1164
(203) 982-6130
(906) 217-1470
(614) 514-1269
(763) 409-5446
(836) 292-5324
(926) 709-3295
(963) 356-9268
(736) 522-8584
(410) 483-0352
(252) 204-1434
(874) 886-4174
(581) 379-7573
(983) 632-8597
(295) 983-3476
(873) 392-8802
(360) 669-3923
(840) 987-9449
(422) 517-6053
(126) 940-2753
(427) 930-5255
(689) 721-5145
(676) 334-2174
(437) 994-5270
(564) 908-6970
(577) 333-6244
(655) 840-6139

# OOPs Concept

In [154]:
n = input('Name: ')
a = int(input('Age: '))
m = int(input('Marks: '))

class Student: 
        def __init__(self, n,a,m):
            self.name = n
            self.age = a
            self.marks = m
        def display(self):
            print('Hi', self.name)
            print('Your age is: ', self.age)
            print('Your marks is : ', self.marks)

s1 = Student(n,a,m)
s1.display()

Name: Rahul
Age: 34
Marks: 34
Hi Rahul
Your age is:  34
Your marks is :  34

In [158]:
n = input('Name: ')
a = int(input('Age: '))
m = int(input('Marks: '))
s1 = Student(n,a,m)
s1.display()

Name: Rahul
Age: 33
Marks: 21
Hi Rahul
Your age is:  33
Your marks is :  21

In [159]:
n = input('Name: ')
a = int(input('Age: '))
m = int(input('Marks: '))
s2 = Student(n,a,m)
s2.display()

Name: Rohan
Age: 34
Marks: 54
Hi Rohan
Your age is:  34
Your marks is :  54

In [160]:
class Student:
    def __init__(self, n,a,**m):
        self.name = n
        self.age = a
        self.marks = m
    def display(self):
        print('Hi', self.name)
        print('Your age is:', self.age)
        print('Your marks is: ', self.marks)

In [163]:
s1 = Student('Rahul', 34, science=35, maths = 43, english = 54)
s1.display()

Hi Rahul
Your age is: 34
Your marks is:  {'science': 35, 'maths': 43, 'english': 54}

In [164]:
class Student:
    def __init__(self, n,a,**m):
        self.name = n
        self.age = a
        self.marks = m
    def display(self):
        print('Hi', n)
        print('Your age is:', a)
        print('Your marks is: ', m)

In [166]:
s1 = Student('Rahul', 34, science=34)
s1.display()

Hi Rohan
Your age is: 34
Your marks is:  54

In [167]:
n

'Rohan '

In [168]:
class Polygon:
    __width = None
    __height = None
    
    def set_values(self, width, height):
        self.__width = width
        self.__height = height
    def get_width(self):
        return self.__width
    def get_height(self):
        return self.__height

In [169]:
class square(Polygon):
    def area(self):
        return self.get_width()*self.get_height()

In [170]:
s1 = square()
s1.set_values(8,15)
print(s1.area())

120

In [171]:
class Triangle(Polygon):
    def area(self):
        return self.get_width()*self.get_height()*1/2

In [174]:
t1 = Triangle()
t1.set_values(8,15)
print(t1.area())
t1.get_width()

60.0

8

In [175]:
class Salary:
    def __init__(self, pay, reward):
        self.pay = pay
        self.reward = reward
    def annual_salary(self):
        return (self.pay*12) + self.reward

In [176]:
class Employee: 
    def __init__(self, name, position, pay, reward):
        self.name = name
        self.position=position
        self.final_salary = Salary(pay,reward)
    def final_salary_m(self):
        return self.final_salary.annual_salary()

In [177]:
emp = Employee('Rahul','PyDev', 100000,10000)

In [178]:
print(emp.final_salary_m())

1210000

In [179]:
class Salary:
    def __init__(self,pay,reward):
        self.pay = pay
        self.reward = reward
    def annual_salary(self):
        return (self.pay*12) + self.reward

In [180]:
class Employee:
    def __init__(self, name, position, sal):
        self.name = name
        self.position = position
        self.final_salary = sal
    def final_salary_m(self):
        return self.final_salary.annual_salary()

In [182]:
sal = Salary(100000,10000)
emp = Employee('Rahul','PyDev',sal)
print(emp.final_salary_m())

1210000