In [ ]:
#How to shift the values from one index to other 
#List Comprehension
#[12,24,34,34,24] how to remove 24 from the list 
#How we can sort mix of datatypes in a list ['m','i',8,9,'j']

In [1]:
x=5

In [2]:
type(x)

int

In [6]:
y

NameError: name 'y' is not defined

In [ ]:
#Python collction datatypes 
#Lists 
#Tuples
#Sets
#Dictionaries

In [ ]:
sales = [1232,4332,3233,4434]
profit = [434,443,333,233]

In [7]:
myfirstlist = [32,34,45,32,21,32,34,54,55,44,32]

In [8]:
myfirstlist

[32, 34, 45, 32, 21, 32, 34, 54, 55, 44, 32]

In [9]:
type(myfirstlist)

list

In [13]:
myfirstlist[:9]

[32, 34, 45, 32, 21, 32, 34, 54, 55]

In [17]:
myfirstlist[-1:-6:-1]

[32, 44, 55, 54, 34]

In [18]:
lang = [['Hindi','English'], ['Urdu','French'], 'English', 'Urdu']

In [19]:
len(lang)

4

In [22]:
type(lang[2])

str

In [24]:
lang[0][1]

'English'

In [47]:
mylist1 = ['A','B',1,True, 7.7]

In [48]:
sum(mylist1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [35]:
del mylist1[0]

In [37]:
del mylist1

In [38]:
mylist1

NameError: name 'mylist1' is not defined

In [49]:
myfirstlist.index(32)

0

In [46]:
myfirstlist

[32, 34, 45, 32, 21, 32, 34, 54, 55, 44, 32]

In [50]:
myfirstlist.append(100)

In [51]:
myfirstlist

[32, 34, 45, 32, 21, 32, 34, 54, 55, 44, 32, 100]

In [54]:
myfirstlist.clear()

In [55]:
myfirstlist

[]

In [52]:
mylist = myfirstlist.copy()

In [61]:
mylist.clear()

In [62]:
mylist

[]

In [58]:
myfirstlist=mylist[1:5]

In [66]:
myfirstlist.append(21)

In [67]:
myfirstlist.count(21)

2

In [68]:
myfirstlist

[34, 45, 32, 21, 21]

In [71]:
count(myfirstlist)

NameError: name 'count' is not defined

In [74]:
myfirstlist.extend([21,32,34,543,44,54,3])

In [75]:
myfirstlist

[34, 45, 32, 21, 21, 21, 21, 32, 34, 543, 44, 54, 3]

In [76]:
myfirstlist.insert(4,20)

In [77]:
myfirstlist

[34, 45, 32, 21, 20, 21, 21, 21, 32, 34, 543, 44, 54, 3]

In [78]:
myfirstlist.pop(0)

34

In [80]:
myfirstlist.pop(9)

543

In [81]:
myfirstlist

[45, 32, 21, 20, 21, 21, 21, 32, 34, 44, 54, 3]

In [82]:
myfirstlist.remove(3)

In [83]:
myfirstlist

[45, 32, 21, 20, 21, 21, 21, 32, 34, 44, 54]

In [84]:
myfirstlist.reverse()

In [86]:
myfirstlist.sort()

In [88]:
myfirstlist.reverse()

In [89]:
myfirstlist

[54, 45, 44, 34, 32, 32, 21, 21, 21, 21, 20]

In [91]:
myfirstlist[0]=24

In [92]:
myfirstlist

[24, 45, 44, 34, 32, 32, 21, 21, 21, 21, 20]

In [ ]:
#How to shift the values from one index to other 
#List Comprehension
#[12,24,34,34,24] how to remove 24 from the list

In [93]:
myfirstlist[0:4] = [0,0,0,0]

In [96]:
sum(myfirstlist)

168

In [ ]:
#Tuple

In [97]:
myfirsttuple = (23,33,43,44,54)

In [98]:
type(myfirsttuple)

tuple

In [99]:
myfirsttuple[0]=32

TypeError: 'tuple' object does not support item assignment

In [100]:
len(myfirsttuple)

5

In [101]:
mytuple1 = (1,2,3,[4,5,6])

In [103]:
mytuple1[3][0]=0

In [104]:
mytuple1

(1, 2, 3, [0, 5, 6])

In [ ]:
#Dictionary

In [105]:
mycust = {'custname': 'Rahul', 'age':33, 'Region':'APAC'}

In [108]:
mycust['custname']

'Rahul'

In [112]:
mycust['product']='Tableau'

In [111]:
len(mycust)

4

In [113]:
mycust

{'custname': 'Rahul', 'age': 33, 'Region': 'APAC', 'product': 'Tableau'}

In [115]:
mystuds = {'std_id':[1,2,3,4,5,6],'stu_name':['A','B','C','D','E','F'],
          'course':['Py','Tab','R','Py','R','Py']}

In [116]:
mystuds

{'std_id': [1, 2, 3, 4, 5, 6],
 'stu_name': ['A', 'B', 'C', 'D', 'E', 'F'],
 'course': ['Py', 'Tab', 'R', 'Py', 'R', 'Py']}

In [117]:
import pandas as pd

In [118]:
pd.DataFrame(mystuds)

   std_id stu_name course
0       1        A     Py
1       2        B    Tab
2       3        C      R
3       4        D     Py
4       5        E      R
5       6        F     Py

In [119]:
mycust

{'custname': 'Rahul', 'age': 33, 'Region': 'APAC', 'product': 'Tableau'}

In [129]:
mycust['Region']= mycust.pop['Continent']

TypeError: 'builtin_function_or_method' object is not subscriptable

In [122]:
mycust

{'custname': 'Rahul', 'age': 33, 'product': 'Tableau', 'Continent': 'APAC'}

In [123]:
mystuds.keys()

dict_keys(['std_id', 'stu_name', 'course'])

In [124]:
mystuds.values()

dict_values([[1, 2, 3, 4, 5, 6], ['A', 'B', 'C', 'D', 'E', 'F'], ['Py', 'Tab', 'R', 'Py', 'R', 'Py']])

In [125]:
mynewdict = mystuds.fromkeys({'std_id','course'}, 'NA')

In [126]:
mynewdict

{'std_id': 'NA', 'course': 'NA'}

In [139]:
dict1 = {1:1, 3:5}
dict2 = {4:2,3:3}
dict3 = {5:3,7:6}

In [140]:
dict1.update(dict2,dict3)

TypeError: update expected at most 1 arguments, got 2

In [138]:
dict1

{1: 1, 3: 3, 4: 2}

In [134]:
dict2

{4: 2, 3: 3}

In [135]:
dict1.sort()

AttributeError: 'dict' object has no attribute 'sort'

In [ ]:
#Sets
#for 
sales profit

In [141]:
myset = {1,1,2,3,3,4,5,5,6,6,7,8,8,9}

In [142]:
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [149]:
myset.add([10,20,20,30])

TypeError: unhashable type: 'list'

In [146]:
myset.update([20,20,30,30,40])

In [154]:
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20}

In [155]:
myset.remove(40)

KeyError: 40

In [163]:
myset.discard(40)

In [165]:
myset.pop()

1

In [167]:
myset.pop()

2

In [169]:
myset

{3, 4, 5, 6, 7, 8, 9, 10, 20}

In [170]:
myset1 = {1,2,3}
myset2 = {3,4,5}

In [172]:
myset1.intersection(myset2)

{3}

In [173]:
myset1.union(myset2)

{1, 2, 3, 4, 5}

In [174]:
myset1 = {1,1,2,3}

In [177]:
myset1

{1, 2, 3}

In [ ]:
#Conditional Statements

In [ ]:
for condition {
    statement1
    statement2
}
statement3

In [ ]:
for condition:
   statement1
   statement2
statement3

In [179]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [181]:
for i in range(0,5):
    print(i)
print('Hello')

0
1
2
3
4
Hello

In [184]:
names = ['A','B','C']
for vishal in names:
    print(vishal)
print('Bye')

A
B
C
Bye

In [192]:
custname = ['A','B','C']
ordid = [1,2,3,4]

In [193]:
for (c,o) in zip(custname,ordid):
    print(c, ', your order id is:',o)

A , your order id is: 1
B , your order id is: 2
C , your order id is: 3

In [203]:
sales = [3433,3445,4343]
profit = [434,445,422,543]

In [196]:
len(sales)

4

In [198]:
list(range(0,len(sales)))

[0, 1, 2, 3]

In [205]:
profitratio = []
for i in range(0,len(profit)):
    profitratio.append(profit[i]/sales[i])
profitratio

IndexError: list index out of range

In [200]:
for i in range(0,len(sales)):
    print(profit[i]/sales[i])

0.12642004078065833
0.12917271407837447
0.09716785632051578
0.09498207885304659

In [208]:
list1 = ['m','j',str(8),str(9),'i']

In [209]:
list1.sort()

In [210]:
list1

['8', '9', 'i', 'j', 'm']