In [1]:
import os
os.chdir(r'D:\D\Trainings\R and Python Classes\Machine Learning A-Z\Part 1 - Data Preprocessing\Section 2 -------------------- Part 1 - Data Preprocessing --------------------\Data_Preprocessing')

In [2]:
import pandas as pd

In [3]:
dataset = pd.read_csv('data.csv')

In [4]:
dataset

   Country  Age  Salary Purchased
0   France   44   72000        No
1    Spain   27   48000       Yes
2  Germany   30   54000        No
3    Spain   45   61000        No
4  Germany   40   45000       Yes
5   France   35   58000       Yes
6    Spain   39   52000        No
7   France   48   79000       Yes
8  Germany   50   83000        No
9   France   37   67000       Yes

In [5]:
x = dataset.iloc[:,0:3].values

In [7]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [8]:
labelencoder_x = LabelEncoder()
x[:,0] = labelencoder_x.fit_transform(x[:,0])

In [9]:
x

array([[0, 44, 72000],
       [2, 27, 48000],
       [1, 30, 54000],
       [2, 45, 61000],
       [1, 40, 45000],
       [0, 35, 58000],
       [2, 39, 52000],
       [0, 48, 79000],
       [1, 50, 83000],
       [0, 37, 67000]], dtype=object)

In [10]:
onehotencoder = OneHotEncoder(categorical_features=[0])
x = onehotencoder.fit_transform(x).toarray()

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [11]:
pd.DataFrame(x)

     0    1    2     3        4
0  1.0  0.0  0.0  44.0  72000.0
1  0.0  0.0  1.0  27.0  48000.0
2  0.0  1.0  0.0  30.0  54000.0
3  0.0  0.0  1.0  45.0  61000.0
4  0.0  1.0  0.0  40.0  45000.0
5  1.0  0.0  0.0  35.0  58000.0
6  0.0  0.0  1.0  39.0  52000.0
7  1.0  0.0  0.0  48.0  79000.0
8  0.0  1.0  0.0  50.0  83000.0
9  1.0  0.0  0.0  37.0  67000.0

# Regression

In [13]:
os.chdir(r'D:\D\Edureka\Edureka - 24 June - Python\Class 9')

In [14]:
dataset = pd.read_csv('Salary_Data.csv')

In [19]:
x=dataset.iloc[:,0:1].values

In [20]:
x

array([[ 1.1],
       [ 1.3],
       [ 1.5],
       [ 2. ],
       [ 2.2],
       [ 2.9],
       [ 3. ],
       [ 3.2],
       [ 3.2],
       [ 3.7],
       [ 3.9],
       [ 4. ],
       [ 4. ],
       [ 4.1],
       [ 4.5],
       [ 4.9],
       [ 5.1],
       [ 5.3],
       [ 5.9],
       [ 6. ],
       [ 6.8],
       [ 7.1],
       [ 7.9],
       [ 8.2],
       [ 8.7],
       [ 9. ],
       [ 9.5],
       [ 9.6],
       [10.3],
       [10.5]])

In [26]:
y=dataset.iloc[:,-1].values

In [27]:
x

array([[ 1.1],
       [ 1.3],
       [ 1.5],
       [ 2. ],
       [ 2.2],
       [ 2.9],
       [ 3. ],
       [ 3.2],
       [ 3.2],
       [ 3.7],
       [ 3.9],
       [ 4. ],
       [ 4. ],
       [ 4.1],
       [ 4.5],
       [ 4.9],
       [ 5.1],
       [ 5.3],
       [ 5.9],
       [ 6. ],
       [ 6.8],
       [ 7.1],
       [ 7.9],
       [ 8.2],
       [ 8.7],
       [ 9. ],
       [ 9.5],
       [ 9.6],
       [10.3],
       [10.5]])

In [28]:
y

array([ 39343.,  46205.,  37731.,  43525.,  39891.,  56642.,  60150.,
        54445.,  64445.,  57189.,  63218.,  55794.,  56957.,  57081.,
        61111.,  67938.,  66029.,  83088.,  81363.,  93940.,  91738.,
        98273., 101302., 113812., 109431., 105582., 116969., 112635.,
       122391., 121872.])

In [68]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3, random_state=0)

In [32]:
len(x_train)

21

In [33]:
len(x_test)

9

In [69]:
from sklearn.linear_model import LinearRegression
liner_model = LinearRegression()
liner_model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [52]:
y_pred = liner_model.predict(x_test)

In [36]:
y_pred

array([ 62243.99216809, 107898.54440208,  55586.03663397,  39416.7160511 ,
       116458.77294595, 123116.72848008,  55586.03663397, 110751.9539167 ,
       103142.86187771])

In [41]:
pd.DataFrame(y_test)

          0
0   63218.0
1  109431.0
2   64445.0
3   37731.0
4  112635.0
5  122391.0
6   54445.0
7  105582.0
8  113812.0

In [38]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.9699411371089178

In [70]:
liner_model.coef_

array([9360.26128619])

In [71]:
liner_model.intercept_

26777.391341197632

In [ ]:
salary = 9511*Exp + 25149

In [43]:
x_new=pd.read_excel('new.xlsx')

In [47]:
x_new=x_new.iloc[:,0:1].values

In [49]:
x_new

array([[ 2],
       [ 3],
       [ 4],
       [ 4],
       [ 5],
       [ 0],
       [15]], dtype=int64)

In [48]:
liner_model.predict(x_new)

array([ 44172.39857547,  53683.76362422,  63195.12867297,  63195.12867297,
        72706.49372171,  25149.66847798, 167820.14420919])