In [ ]:
#Types of Variables
#Integer
#Float 
#String
#Boolean

In [1]:
Quantity = 5

In [2]:
type(Quantity)

int

In [3]:
sales = 65.5

In [4]:
type(sales)

float

In [7]:
customer_name = "John"

In [8]:
type(customer_name)

str

In [9]:
customer_name

'John'

In [13]:
is_sales_50 = sales>50

In [14]:
type(is_sales_50)

bool

In [16]:
Order_id = 'EU-2019-1234'

In [17]:
type(Order_id)

str

In [18]:
sales

65.5

In [19]:
expenses = 20

In [21]:
sales+expenses

85.5

In [31]:
customer_name + ","  + " " + "your order id is" + ":" + " "+ Order_id

'John, your order id is: EU-2019-1234'

In [ ]:
#Python Collection DataTypes
#Lists
#Tuples
#Dictionaries
#Sets

In [32]:
myfirstlist = [23,24,25,23,24,23,21,22,26,27,30,35,46,50]

In [33]:
type(myfirstlist)

list

In [40]:
myfirstlist[4]

24

In [42]:
myfirstlist[4:]

[24, 23, 21, 22, 26, 27, 30, 35, 46, 50]

In [41]:
myfirstlist[4:9]

[24, 23, 21, 22, 26]

In [43]:
myfirstlist[-1]

50

In [44]:
myfirstlist[:6]

[23, 24, 25, 23, 24, 23]

In [ ]:
myfirstlist = [23,24,25,23,24,23,21,22,26,27,30,35,46,50]

In [49]:
myfirstlist[-1:-7:-1]

[50, 46, 35, 30, 27, 26]

In [46]:
myfirstlist[-7:-1]

[22, 26, 27, 30, 35, 46]

In [53]:
myfirstlist[-7:-1:2]

[22, 27, 35]

In [54]:
myfirstlist[-7:-1:-1]

[]

In [50]:
myfirstlist[-1:-7:-2]

[50, 35, 27]

In [56]:
print(myfirstlist)

[23, 24, 25, 23, 24, 23, 21, 22, 26, 27, 30, 35, 46, 50]

In [57]:
myfirstlist

[23, 24, 25, 23, 24, 23, 21, 22, 26, 27, 30, 35, 46, 50]

In [58]:
languages = [['English','Hindi'], ['Gujrati'], 'English','Spanish', 'Romanian']

In [59]:
type(languages)

list

In [64]:
type(languages[0][1])

str

In [67]:
type(languages[1][0])

str

In [69]:
type(languages[4])

str

In [77]:
mylist1 = ['A','B','C',1,2,3,4,'True',7.7]

In [72]:
type(mylist1[0])

str

In [73]:
type(mylist1[3])

int

In [78]:
type(mylist1[7])

str

In [76]:
type(mylist1[8])

float

In [79]:
languages1 =[('English','Hindi'), 'English']

In [81]:
type(languages1[0])

tuple

In [83]:
myfirstlist[0]=35

In [84]:
myfirstlist

[35, 24, 25, 23, 24, 23, 21, 22, 26, 27, 30, 35, 46, 50]

In [86]:
del languages1

In [87]:
languages1

NameError: name 'languages1' is not defined

In [88]:
a = [[[1,2], [3,4],5],[6,7]]

In [95]:
a[0][1][1]

4

In [96]:
a,b = [3,1,2],[4,5,6]

In [97]:
a

[3, 1, 2]

In [98]:
b

[4, 5, 6]

In [99]:
a+b

[3, 1, 2, 4, 5, 6]

In [100]:
a*b

TypeError: can't multiply sequence by non-int of type 'list'

In [101]:
a*3

[3, 1, 2, 3, 1, 2, 3, 1, 2]

In [102]:
a-b

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [103]:
import os
os.getcwd()

'C:\\Users\\HP\\Desktop\\Edureka\\Edureka - 29th July - Python Certification Training for Data Science\\Class 2 - Python Collection Data Types'

In [105]:
myfirstlist.append(100)

In [106]:
myfirstlist

[35, 24, 25, 23, 24, 23, 21, 22, 26, 27, 30, 35, 46, 50, 100]

In [107]:
myfirstlist.insert(6,150)

In [108]:
myfirstlist

[35, 24, 25, 23, 24, 23, 150, 21, 22, 26, 27, 30, 35, 46, 50, 100]

In [109]:
del myfirstlist[6]

In [110]:
myfirstlist

[35, 24, 25, 23, 24, 23, 21, 22, 26, 27, 30, 35, 46, 50, 100]

In [111]:
mysecondlist = myfirstlist.copy()

In [112]:
mysecondlist

[35, 24, 25, 23, 24, 23, 21, 22, 26, 27, 30, 35, 46, 50, 100]

In [113]:
myfirstlist.remove(100)

In [120]:
myfirstlist

[35, 24, 25, 23, 24, 21, 22, 26, 27, 30, 35, 46]

In [122]:
mylist=myfirstlist[-1:-3:-1]

In [115]:
myfirstlist.pop(5)

23

In [117]:
myfirstlist.pop()

50

In [118]:
help(myfirstlist.index)

Help on built-in function index:

index(...) method of builtins.list instance
    L.index(value, [start, [stop]]) -> integer -- return first index of value.
    Raises ValueError if the value is not present.

In [124]:
myfirstlist.sort()

In [126]:
myfirstlist.reverse()

In [127]:
myfirstlist

[46, 35, 35, 30, 27, 26, 25, 24, 24, 23, 22, 21]

In [128]:
max(myfirstlist)

46

In [129]:
min(myfirstlist)

21

In [130]:
sum(myfirstlist)

338

In [132]:
mylist.clear()

In [134]:
del mylist

In [135]:
del mylist1

In [136]:
myfirstlist

[46, 35, 35, 30, 27, 26, 25, 24, 24, 23, 22, 21]

In [137]:
del mysecondlist

In [ ]:
#Tuples

In [138]:
myfirsttuple = (23,24,23,21,22,23,26,27,25,28,29,30,35)

In [139]:
type(myfirsttuple)

tuple

In [140]:
myfirsttuple[0]=35

TypeError: 'tuple' object does not support item assignment

In [141]:
myfirsttuple.count(23)

3

In [144]:
myfirsttuple.index(23)

0

In [145]:
tuple(myfirstlist)

(46, 35, 35, 30, 27, 26, 25, 24, 24, 23, 22, 21)

In [146]:
list(myfirsttuple)

[23, 24, 23, 21, 22, 23, 26, 27, 25, 28, 29, 30, 35]

In [147]:
len(myfirstlist)

12

In [148]:
len(myfirsttuple)

13

In [150]:
myfirsttuple[2:5]

(23, 21, 22)

In [151]:
myfirsttuple[-1:-5:-1]

(35, 30, 29, 28)

In [152]:
mytuple1 = (1,2,3,[4,5,6])

In [154]:
mytuple1[3][0]=10

In [158]:
mytuple1[3].append(50)

In [159]:
mytuple1

(1, 2, 3, [10, 5, 6, 50])

In [ ]:
#Dictionaries

In [170]:
myfirstdict = {'Customer Name': 'Rahul', 'Order Id': 'IN-2019-1234', 'Region':'North India', 'sales':65.5}

In [162]:
myfirstdict['Order Id']

'IN-2019-1234'

In [163]:
myfirstdict['Segment']='Python'

In [171]:
myfirstdict

{'Customer Name': 'Rahul',
 'Order Id': 'IN-2019-1234',
 'Region': 'North India',
 'sales': 65.5}

In [165]:
myfirstdict['Region']='South India'

In [167]:
len(myfirstdict)

4

In [168]:
myfirstdict['OID'] = myfirstdict.pop('Order Id')

In [172]:
myfirstdict

{'Customer Name': 'Rahul',
 'Order Id': 'IN-2019-1234',
 'Region': 'North India',
 'sales': 65.5}

In [173]:
my_stud = {'student_id':[1,2,3,4,5], 
          'Stud_name':['A','B','C','D','E'],
          'Subject':['Python','Tableau','R','PowerBI','Python']}

In [174]:
my_stud

{'student_id': [1, 2, 3, 4, 5],
 'Stud_name': ['A', 'B', 'C', 'D', 'E'],
 'Subject': ['Python', 'Tableau', 'R', 'PowerBI', 'Python']}

In [175]:
import pandas as pd

In [176]:
pd.DataFrame(my_stud)

   student_id Stud_name  Subject
0           1         A   Python
1           2         B  Tableau
2           3         C        R
3           4         D  PowerBI
4           5         E   Python

In [179]:
dict(([1,2],[1,4],[4,5]))

{1: 4, 4: 5}

In [178]:
myfirstdict

{'Customer Name': 'Rahul',
 'Order Id': 'IN-2019-1234',
 'Region': 'North India',
 'sales': 65.5}

In [180]:
myfirstdict.keys()

dict_keys(['Customer Name', 'Order Id', 'Region', 'sales'])

In [181]:
myfirstdict.values()

dict_values(['Rahul', 'IN-2019-1234', 'North India', 65.5])

In [182]:
myfirstdict.popitem()

('sales', 65.5)

In [183]:
myfirstdict

{'Customer Name': 'Rahul', 'Order Id': 'IN-2019-1234', 'Region': 'North India'}

In [184]:
myfirstdict

{'Customer Name': 'Rahul', 'Order Id': 'IN-2019-1234', 'Region': 'North India'}

In [189]:
mynewdict = myfirstdict.fromkeys({'Customer Name','Order Id','Region'},'NA')

In [187]:
mynewdict['Customer Name']='Rahul'

In [190]:
mynewdict

{'Region': 'NA', 'Order Id': 'NA', 'Customer Name': 'NA'}

In [191]:
dict1 = {1:1,2:5}
dict2 = {4:2,3:3}

In [193]:
dict1.update(dict2)

In [194]:
dict1

{1: 1, 2: 5, 4: 2, 3: 3}

In [ ]:
#Sets

In [198]:
myfirstset = {1,2,2,3,3,3,4,5,5,5,6,7,7,7,7,7,7,8,8,8,8,9,9}

In [203]:
myfirstset.add(30)

In [205]:
myfirstset.update([31,31,32,32,33,33,33,33,33,45])

In [206]:
myfirstset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 30, 31, 32, 33, 45}

In [210]:
myfirstset.remove(7)

KeyError: 7

In [222]:
myfirstset.discard(8)

In [212]:
myfirstset

{1, 2, 3, 4, 5, 6, 9, 30, 31, 32, 33, 45}

In [226]:
mytuple = [-1,2,3,4,5,6,6,7,8,8,'A','A']

In [227]:
myset = set(mytuple)

In [228]:
myset

{-1, 2, 3, 4, 5, 6, 7, 8, 'A'}

In [242]:
myfirstset.pop()

30

In [232]:
myfirstset

{1, 2, 3, 4, 5, 6, 9, 30, 31, 33, 45}

In [243]:
myfirstset

{31}

In [244]:
len(myfirstset)

1

In [245]:
myfirstset.clear()

In [246]:
myfirstset

set()

In [247]:
myset = {1,2,3,4,5}

In [248]:
myset1 = {3,4,5,6,7}

In [249]:
myset.union(myset1)

{1, 2, 3, 4, 5, 6, 7}

In [250]:
myset.intersection(myset1)

{3, 4, 5}

In [ ]:
#Conditional statements in Python

In [ ]:
#for, while, if else

In [251]:
customers = ['John', 'James', 'Mathew', 'Anderson']
order_id = [1,2,3,4]

In [256]:
for (c,o) in zip(customers,order_id):
    print(c,', your order id is:', o)

John , your order id is: 1
James , your order id is: 2
Mathew , your order id is: 3
Anderson , your order id is: 4

In [ ]:
#Traditional programming
#for condition {
#    statement 1
#    statement 2
#    statement 3
#}
#statement 4

In [ ]:
#Python programming
#for codition:
#    statement 1
#    statement 2
#    statement 3
#statement 4

In [258]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [264]:
for i in list(range(0,10)).reverse():
    print('Hello', i)

TypeError: 'builtin_function_or_method' object is not iterable

In [268]:
list(range(5,15,2))

[5, 7, 9, 11, 13]

In [270]:
customers

['John', 'James', 'Mathew', 'Anderson']

In [271]:
for i in customers:
    print(i)

John
James
Mathew
Anderson

In [ ]:
#Traditional Programming
#while condition {
#    statement1
#    statement2
#    statement3
#}
#statement4

In [ ]:
#Python Programming
#while condition:
#    statement1
#    statement2
#    statement3
#statement4

In [279]:
coupouns = 5
utilized = 0
while utilized<6:
    print('Total coupouns left are:' + str(coupouns-utilized))
    utilized=utilized+1
print('No coupouns left')

Total coupouns left are:5
Total coupouns left are:4
Total coupouns left are:3
Total coupouns left are:2
Total coupouns left are:1
Total coupouns left are:0
No coupouns left

In [280]:
sales = [23454,22345,33435,33344]
profit = [2345,5556,6778,7777]

In [281]:
profitratio = []
for i in range(0,len(sales)):
    profitratio.append(profit[i]/sales[i])
print(profitratio)

[0.09998294533981411, 0.24864622958156188, 0.20272169881860325, 0.23323536468330133]

In [ ]:
#If and Else

In [297]:
marks = 65

In [299]:
if marks<40:
    print('Failed')
elif marks>=40 and marks<=70:
    print('Average')
else:
    print('Passed')

Average